<div id="about">
    <h1>Hello, I'm Trowbridge.</h1>
    <hr/>
    <div class="about-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-0 col-sm-1"></div>
                <div class="col-xs-12 col-sm-3">
                    <div class="id-box">
                        <div id="portrait" style="background-image:url(/pics/headshot.jpg)"></div>
                        <a id="intro" class="about-btn btn button active">Intro</a>
                        <!-- <a id="bio" class="about-btn btn button">Bio</a> -->
                        <a id="bio" class="about-btn btn button">Bio</a>
                        <a id="resume" class="btn button" href="/pics/tobyweed_CV.pdf" target="_blank">CV</a>
                        <!--<a id="coding" class="about-btn btn button">Coding</a>-->
                        <!--<a id="values" class="about-btn btn button">Values</a>-->
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7">
                    <div id="intro-text" class="about-text">
                        <h5>But I generally go by Toby for ease and steez.</h5>
                        <br/>
                        <br/>
                        <h5> I made this site during my gap year before college in 2017. After a bit of a retirement,
                          I'm bringing it back to showcase some of the side projects I've worked on over the last few years. </h5>
                        <br/>
                        <br/>
                        <h5> Why is the landing page of this site a huge mountain? I don't know. I guess my taste has changed since
                        I was 18, because I no longer find the aesthetic quite fitting. Stay tuned for a site makeover (❛̀ ͜ʖ ́❛)</h5>
                    </div>
                    <!-- <div id="bio-text" class="about-text">
                        <p><strong>I grew up in rural Putney, Vermont, with my parents, older sister,
                            and cat.</strong> I did a lot of drawing and cross-country skiing.
                        I went to a prep school (Northfield Mount Hermon) in Western Massachusetts.
                        I took a gap year before college, during which I went on some great adventures in Chile, Bolivia,
                        Cuba, Spain, Italy, Portugal, Denmark, and Crested Butte, Colorado.</p>
                        <br/>
                        <p><strong>I am currently a math major (with a concentration in mathematical sciences) at Middlebury college in Vermont.</strong> I've also taken a lot of physics, CS, and history-y classes.



                        I am attracted to problems at the intersection of quantitative, aesthetic, and philosophical thought.
                        I aspire to live an impactful and creative life, and think that we live in an era of profound importance.
                        I enjoy learning and challenges, and thus hope for a lifestyle which requires frequent adaptation.
                        Both intellectually and practically, I am most excited about information networks' relationship
                        with human social structure.</p>
                        <br/>
                        <p><strong>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions impact the
                        quality of the future.</strong></p>
                    </div> -->
                    <div id="bio-text" class="about-text">
                        <p><b>I grew up in rural Putney, Vermont.</b> I like skiing, observing insects and other wildlife, jumping into water, and board games. </p>
                        <br>

                        <p><b>I graduated from Middlebury College with a degree in math in May 2022.</b> I also took a lot of physics, CS, and history-ish classes, and was the president of the <a id = "troll-link" href="http://middpatrol.squarespace.com/">Middlebury Snow Bowl ski patrol</a>.</p>
                        <br>

                        <p>Since graduating, I’ve been trying to figure out what I’d like to do next and where. For the past few months I've been working with '<a id = "troll-link" href="https://metagov.org/">The Metagovernance Project</a> as a data science and research intern.</p>
                        <br>

                        <p>Moving forward, <b>I'm applying to roles in software engineering, data science, and research of various kinds.</b> If you'd like to offer me a job, that'd be nice. I'm also secretly ~plotting~ to launch a blog.</p>
                        <br>

                        <p>Intellectually and as a matter of career goals, I’m interested in improving how conclusions are reached, actions taken, and (hopefully) problems solved at the social level. Springing from this very vague inquiry are specific interests in a wide range of fields. Some of the buzzwords I like to Wikipedia are collective intelligence, institutional economics, game theory, machine learning, cultural evolution, category theory, and linguistics. Do I know anything about any of these things? Some more than others, but mostly no. If you'd like to follow my learning journey please don't hesitate to follow me <a href="https://medium.com/@tobyweed">on Medium</a>; by the time you read this I'm sure to have a post or two up. </p>
                        <br>

                        <p>If you have any recommendations related even obliquely to any of these things, please drop me a line!</p>
                    </div>
                    <!--<div id="coding-text" class="about-text">-->
                    <!--    Since the purpose of this site is to display some of my coding work (and hopefully-->
                    <!--    get me hired or something), I'll talk here a little about-->
                    <!--    my experience and skills as a developer specifically.-->

                    <!--    I originally learned about the existence of programming in 9th grade. A little late, perhaps,-->
                    <!--    but I grew up in rural Vermont on a strict 30 minute per-day online flash-gaming diet. -->
                    <!--    Anyways, I took an Intro to Programming in Java course. I had a great time, my greatest project -->
                    <!--    being a game in which the player controls a hippie whose job is to consume as much granola as possible-->
                    <!--    while avoiding sinister blue and white cars and acquiring mysterious power-up mushrooms.-->

                    <!--    Despite my enjoyment of the elective, I did not code again until my senior year, when I took my highschool's-->
                    <!--    only other compsci course, AP Compsci. I rediscovered my love for programming during that course,-->
                    <!--    and compsci became my top choice of college major. During my senior spring,-->
                    <!--    I decided to take a gap year before college, due in large part to my excitement with learning more about computers.-->

                    <!--    The world of pressing buttons to control computers is a large one, however, and intimidating to a newbie. -->
                    <!--    Without much understanding of the landscape, I bought a 48-hour fullstack web dev course on Udemy. -->
                    <!--</div>-->
                    <!--<div id="values-text" class="about-text">-->
                    <!--    <h5>I believe that curiousity is fundamentally good, that the natural world is sacred, and that individuals' decisions -->
                    <!--    impact the quality of the future.</h5> -->
                    <!--    <br/>-->
                    <!--    <p>I believe that people should only work towards goals which align with their values, and that the only reason to collaborate-->
                    <!--    is to work towards common goals. Therefore, shared values should be the foundation of any working relationship. It is a flaw of our-->
                    <!--    tech-era collaborative tools (and indeed capitalist collaboration in general) that everybody shares what they can do, but not why -->
                    <!--    they want to do those things. I will address this problem here.</p>-->
                    <!--    <br/>-->
                    <!--    <p><b>I care about conserving the natural beauty of our world,</b> which I believe to be an elementary ingredient of human health and joy.-->
                    <!--    <br><br><b>I believe that intellectual curiousity is the noblest human craving,</b> and a natural consequence of the decision to appreciate life.-->
                    <!--    Extending this, I think that education is the single most important social system.-->
                    <!--    <br><br><b>I consider liberty to be an intrinsically valuable end in itself,</b> and that we as a global community are at greater risk of losing our sense -->
                    <!--    of liberty than we have collectively been since the rise of fascism in the 20th century – this by virtue of complacency and panic more than hatred and demagoguery.-->
                    <!--    </p>-->
                    <!--    <br>-->
                    <!--    <p>Ultimately, for me, while solipsism is logically inevitable, it is fruitful to pursue an intangible sense of universal harmony based on well thought-out moral assumptions, -->
                    <!--    like the protection and continuation of the human historical narrative.</p>-->
                    <!--</div>-->
                </div>
                <div class="col-xs-0 col-sm-1"></div>
            </div>
        </div>
    </div>
</div>
