<div id="projects" class="background-image">
    <h1>PROJECTS |<a href="https://github.com/tobyweed" target="_blank"><span class="fa fa-github"></span></a></h1>
    <hr/>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/rkhs.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>The Application of Reproducing Kernel Hilbert Spaces to Regularization in Machine Learning</h4>
                            <em>A Functional Analysis Thesis</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="/pics/thesis.pdf" target="_blank">View Thesis</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/ilm.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Simulating the Cultural Evolution of Language</h4>
                            <em>An Exploration of ABMs in Linguistic Evolution</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://tobyweed.shinyapps.io/tweed_langevo/" target="_blank">View RMD</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/no3.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>No 3 in a Line</h4>
                            <em>Finding New Placements for No3 Using SAT Solvers</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://github.com/tobyweed/no3" target="_blank">View GitHub</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/3dscan.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>MobileLighting</h4>
                            <em>3D Scanner for Computer Vision</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="http://www.cs.middlebury.edu/~gpan/2019_summer_research/vision-website/home.html" target="_blank">View Samples</a>
                        <a class="thumb-link btn button" href="https://github.com/tobyweed/MobileLighting" target="_blank">View GitHub</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/automaton.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>Totalistic Cellular Automata</h4>
                            <em>Chaotic System Simulation Applet</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://totalistic-cellular-automata.herokuapp.com/Automata.html" target="_blank">View Site</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" style="background-image:url(/pics/site.png)">
                    <div class="thumb-layer">
                        <div class="thumb-text">
                            <h4>This Website</h4>
                            <em>A Gap Year Project in HTML & CSS</em>
                        </div>
                        <br/>
                        <a class="thumb-link btn button" href="https://tobyweed.herokuapp.com/" target="_blank">View Site</a>
                    </div>
                </div>
            </div>
        </div>
            
    </div>
</div>
