<div id="resume">
    <div class="resume-content">
        <div>
            <h1>RESUME</h1>
            <a id="resume-btn" class="btn button" href="/pics/tobyweed_resume.pdf" target="_blank">Download PDF</a>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <img src="/pics/3dscan.png" alt="resume">

                <!-- <div class="education col-md-6 col-sm-12">
                    
                </div>

                <div class="skills col-md-6 col-sm-12">
                    
                </div> -->
            </div>
        </div>
    </div>
</div>
